In [1]:
%config InlineBackend.figure_formats = {'png', 'retina'}
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# 1. load data

In [2]:
df = pd.read_csv("./data/churn.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df = df.drop(columns=["RowNumber", "CustomerId", "Surname", "Geography", "Gender"])
df.tail(1)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9999,792,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Exited           10000 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 703.2 KB

In [ ]:
# 2. preprocessing

In [5]:
target_name = "Exited"
features = df.drop(columns=[target_name])
target = df[target_name]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
train_x, test_x, train_y, test_y = train_test_split(
    features, target, test_size=0.3, random_state=0
)

In [ ]:
# 3. train model : DecisionTree, RandomForest

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
dt_model = DecisionTreeClassifier(random_state=0).fit(train_x, train_y)

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
rf_model = RandomForestClassifier(random_state=0).fit(train_x, train_y)

In [ ]:
# 4. evaluation model

In [12]:
from sklearn.metrics import classification_report

In [13]:
pred = dt_model.predict(test_x)
print(classification_report(test_y, pred))

              precision    recall  f1-score   support

           0       0.87      0.84      0.86      2379
           1       0.47      0.53      0.50       621

    accuracy                           0.78      3000
   macro avg       0.67      0.68      0.68      3000
weighted avg       0.79      0.78      0.78      3000

In [14]:
pred = rf_model.predict(test_x)
print(classification_report(test_y, pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      2379
           1       0.74      0.47      0.57       621

    accuracy                           0.86      3000
   macro avg       0.81      0.71      0.74      3000
weighted avg       0.85      0.86      0.84      3000

In [ ]:
# dt : acc : 0.78, f1-score : 0.50
# rf : acc : 0.86, f1-score : 0.57
# target 데이터의 빈도가 언밸런스드하기 때문에 f1-score를 이용해서 모델의 성능을 비교 평가하는것이 좋다.
# 더 큰 성능 향상을 위해서는 feature engineering에 더 집중해야한다.