In [1]:
# libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [40]:
# read data file
df = pd.read_csv('./data/churn.csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [42]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [43]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [44]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [45]:
df = df[['CreditScore', 'Geography','Gender', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited']]
df.head()

,CreditScore,Geography,Gender,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,2,125510.82,1,1,1,79084.10,0

In [46]:
geo_df = pd.get_dummies(df['Geography'])
gender_df = pd.get_dummies(df['Gender'])
print(geo_df.head())

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       1        0      0
3       1        0      0
4       0        0      1

In [47]:
df = pd.concat([df, geo_df, gender_df], axis=1)
df = df.drop(['Geography', 'Gender'], axis=1)
df.head()

,CreditScore,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain,Female,Male
0,619,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0

In [48]:
Y = df['Exited']
X = df.copy()
X = X.drop(['Exited'], axis=1)

In [49]:
# Separating traing & test sets
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X,Y,test_size=0.33,random_state=1) 

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(6700, 12) (3300, 12) (6700,) (3300,)

In [ ]:
####################################################
# Linear Regression
####################################################

In [11]:
# simple linear regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

model_LR = LogisticRegression()
model_LR.fit(xtrain, ytrain)

LogisticRegression()

In [14]:
pred_LR = model_LR.predict(xtest)

In [15]:
print(classification_report(ytest, pred_LR))

              precision    recall  f1-score   support

           0       0.68      0.69      0.68        70
           1       0.71      0.70      0.70        76

    accuracy                           0.69       146
   macro avg       0.69      0.69      0.69       146
weighted avg       0.69      0.69      0.69       146

In [ ]:
####################################################
# KNN Classifier
####################################################

In [ ]:
# simple KNN classification
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
####################################################
# Classification Tree
####################################################

In [25]:
# classification tree
from sklearn.tree import DecisionTreeClassifier

model_DT = DecisionTreeClassifier(max_depth=1)
model_DT.fit(xtrain, ytrain)

DecisionTreeClassifier(max_depth=1)

In [26]:
pred_DT = model_DT.predict(xtest)

In [27]:
print(classification_report(ytest, pred_DT))

              precision    recall  f1-score   support

           0       0.69      0.67      0.68        70
           1       0.71      0.72      0.71        76

    accuracy                           0.70       146
   macro avg       0.70      0.70      0.70       146
weighted avg       0.70      0.70      0.70       146

In [29]:
from sklearn.metrics import confusion_matrix

confusion_matrix(Y, model_DT.predict(X))

array([[157,  64],
       [ 55, 166]], dtype=int64)