In [ ]:
# 광고 데이터에서 Sales를 가장 잘 예측하는 feature를 확인

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. 데이터 로드
df = pd.read_csv("./data/advertising.csv")

In [7]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [3]:
# 2. 데이터 전처리 : feature, target
features = df.iloc[:, :-1]
target = df.iloc[:, -1]

In [ ]:
# 3. 모델 학습

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
model_1 = LinearRegression().fit(features[["TV"]], target)
model_2 = LinearRegression().fit(features[["radio"]], target)
model_3 = LinearRegression().fit(features[["newspaper"]], target)

In [6]:
models = {}
for column in features.columns:
    models[column] = LinearRegression().fit(features[[column]], target)

In [20]:
models

{'TV': LinearRegression(),
 'radio': LinearRegression(),
 'newspaper': LinearRegression()}

In [8]:
# list comprehension
datas = [data ** 2 for data in range(10) if data % 2]
datas

[1, 9, 25, 49, 81]

In [9]:
# dict comprehention
models = {
    column: LinearRegression().fit(features[[column]], target) 
    for column in features.columns
}

In [ ]:
# 4. 모델 성능 평가 : MAE

In [10]:
from sklearn.metrics import mean_absolute_error

In [11]:
for column in features.columns:
    pred = models[column].predict(features[[column]])
    mae = mean_absolute_error(pred, target) 
    print(column, np.round(mae, 2))

TV 2.55
radio 3.32
newspaper 4.15

In [ ]:
# 5. 각 feature의 결정 계수 출력, 모델의 성능과 비교

In [12]:
df.corr() ** 2

                 TV     radio  newspaper     sales
TV         1.000000  0.003004   0.003209  0.611875
radio      0.003004  1.000000   0.125389  0.332032
newspaper  0.003209  0.125389   1.000000  0.052120
sales      0.611875  0.332032   0.052120  1.000000

In [ ]:
# 세개의 feature합치기

In [17]:
feature_tv = df[["TV"]]
feature_radio = df[["radio"]]
feature_newspaper = df[["newspaper"]]
target = df["sales"]

features = pd.concat([feature_tv, feature_radio, feature_newspaper], axis=1)
features

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [18]:
model= LinearRegression()
model.fit(features, target)

LinearRegression()

In [19]:
pred = np.round(model.predict(features))
mean_absolute_error(target, pred)

1.3014999999999999

In [21]:
# mean square error

In [22]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred=pred, y_true = target)

2.89125